body
{
    background-image: url('../images/tlo.jpg');
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#container
{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

a
{
    color:#16BAC9;
    text-decoration: none;
    border-bottom: 1px dotted gray;
}

a:hover
{
    color:teal;
}

/* gorna czesc strony */
#top_part_container
{
    width: 1000px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px -2px 4px #000;
    margin: 10px auto 0px auto;
    position: relative;
    background: -moz-linear-gradient(top, #5B728A, #273A4A);
	background: -webkit-gradient(linear, left top, left bottom, from(#5B728A), to(#273A4A));
    
}

#logo
{
    font-size: 70px;
    font-family: 'Comic Sans MS', Sans-serif;
    font-weight: bold;
    margin: 70px 50px 20px;
    line-height: 1.1em;
    position: absolute;
    
    
    
}

#podlogo
{
    font-size: 20px;
    font-family: 'Comic Sans MS', Sans-serif;
    margin: 160px 140px;
    line-height: 0px;
    position: absolute;
}

#contact_box
{
    position: absolute;
    margin-top: 20px;
    right: 20px;
    font-size: 11px;
    color: #FFF;
    
}

#contact_box a
{
    border-bottom: none;
}

#main_menu
{
    position: absolute;
     left: 390px;
    bottom: -1px;
}

#main_menu_list li
{
    list-style: none;
    float: left;
   
}

#main_menu_list a
{
    display: inline-block;
    background-color: #0D2D30;
    border-bottom: none;
    height: 25px;
    padding: 0px 10px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color:#FFF;
    padding-top: 10px;
    box-shadow: -1px 3px 7px #000 inset;
}

#main_menu_list li a:hover, #main_menu_list li.actual a
{
    background-color: #19565C;
}

/* srodkowe menu */
#middle_menu
{
    width: 1000px;
    height: 40px;
    margin: auto;
    background: -moz-linear-gradient(top, #273A4A, #5B728A);
	background: -webkit-gradient(linear, left top, left bottom, from(#273A4A), to(#5B728A));
    border-top: 2px solid black;
    box-shadow: 2px 0px 4px #000;
    /* box-shadow: 3px 1px 10px #000 inset; */
}

.components
{
    text-align: center;
}

#middle_menu li
{
    display: inline-block;
    float: left;
    margin-top: -4px;
    position: relative;
    height: 27px;

}

#middle_menu li a
{
    border-bottom: none;
    color: #FFF;
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
}

#middle_menu li a:hover
{
    color:#9CECF7;
}

.breake
{
    margin-right: 52px;
    margin-left: 52px;
    color: #FFF;
}

#list .drop_down_list
{
    position: absolute;
    top: 28px;
    margin-left: -57px;

}

#list .drop_down_list li
{
    display: none;
    clear: both;
    text-align: left;
    background-color: #5B728A;
    width: 160px;
    opacity: 0.9;
    margin-top: 0px;
    line-height: 1.6em;
    box-shadow: 7px 7px 10px #000;
}

#list .drop_down_list li:last-child
{
    border-radius: 0px 0px 7px 7px;
}

#list .drop_down_list li a
{
    font-size: 12px;
    margin-left: 7px;
    margin-right: 7px;
    display: block;
}

#list li:hover .drop_down_list li
{
    display: block;
}

/* środkowa część strony */

#content
{
    width: 1000px;
    background-color: #b3c3db;
    margin: auto;
    border-top: 2px solid black;
    box-shadow: 2px 0px 3px #000;
}

#text
{
    text-align: justify;
    padding: 15px 50px;
    font-family: 'trebuchet MS', sans-serif;
    line-height: 150%;
    font-size: 13px;
    height: auto;
}

h1
{
    font-size: 20px;
    text-align: center;
    color: #273A4A;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', Sans-serif;
    font-style: italic;
    line-height: 120%;
}

p a
{
    color: #029bba;
}

#main_images
{
    float: right;
    padding: 0 50px;
}

#main_images img
{
    width: 200px;
    clear: right;
    float: right;
    padding: 31px 0;
}

/* dolna czesc strony */

#bottom_part_container
{
    width: 1000px;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 0px 4px #000;
    margin: 0px auto 10px auto;
    position: relative;
    background: -moz-linear-gradient(top, #5B728A, #273A4A);
	background: -webkit-gradient(linear, left top, left bottom, from(#5B728A), to(#273A4A));
    border-top: 2px solid black;
}

#bottom_part_container img
{
    width: 40px;
    height: 30px;
    border-radius: 3px;
    margin: 50px 0 0 30px;
    float: left;
}

#bottom_part_container 
{
    color: #FFF;
    font-family: 'Courier New', sans-serif;
}
#newsletter_text
{
    
    margin-top: 50px;
    margin-left: 80px;
}

#top_newsletter
{
    font-size: 15px;   
    font-weight: bold;
}

#form_newsletter
{
    font-size: 12px;
}

.input_text
{
    font-size: 12px;
    background-color: #b3c3db;
}

.submit_button
{
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    border: 2px outset #b3c3db;
    background-color: #b3c3db;
}

.submit_button:hover
{
    color: #5B728A;
}

.submit_button:active
{
    border: 2px inset #b3c3db;
}

#newsletter_info
{
    font-size: 10px;
    margin: 60px 30px 0px;
    
}

#text .descent_list
{
    list-style:circle;
    font-size: 15px;
}